/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
} */

.borderLine {
    border-top: 1px solid rgba(143, 143, 143, 0.5);
    /* margin-top: 5px; */
}

.copyright {
    /* font-family: Roboto; */
    font-weight: bolder;
    font-size: 17px;
}

.icon {
    color: gray;
}

.icon:hover {
    color: #0077B5;
}

.contact {
    /* font-family: Roboto !important; */
    font-size: 16px !important;
    color: #999999 !important;
}