.line {
    border-left: 1px solid #e3e1e1 !important;
    height: 35px !important;
}

li>a {
    font-family: 'Roboto';
    font-size: 18px;
    color: #ffffff !important;
}

.navbar-nav li>a:hover {
    color: #4ece3d !important;
}

@media screen and (max-width: 991px) {
    .line {
        display: none;
    }
    .mb-0 {
        margin-bottom: 5 !important;
    }
}

.btn-login {
    background-color: #0079c4 !important;
    border: none !important;
}

.btn-login:hover {
    background-color: #1a92dd !important;
}

.content {
    font-family: 'Roboto' !important;
}

@media screen and (max-width: 574px) {
    .collide {
        margin-top: -18px !important;
    }
}